{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock  %}
{% block title %}All Blog{% endblock  %}
{% block body %}
    <!--Content Start-->
    <div class="container">
    	<div class="content_titel col-sm-12">
    		{% trans "Android Development Blog" %}
    	</div>
    </div>
    <!--Blog category Start-->
    <div class="container-fluid" style="max-width:1324px;">
    	<div class="category">
    		<ul>
    			<li class="active_category"><a href="{% url 'allblog' %}"> Letest</a></li>
				{% for i in category %}
    			<li><a href="{% url 'allblogcategory' i.category %}">{{i.category}}</a></li>
				{% endfor %}
    		</ul>
    	</div>
    </div>
    <!--Blog category End-->
    <!--Contant blog start-->
    	<div class="blog" style="max-width:1324px; margin:0 auto; text-align:center;">
    		{% for blogpost in blogpost %}
			
    		<div class="card blog_card">
    		<a href="{% url 'details_blog' blogpost.id %}" style="text-decoration: none;color: #000;">
			  <img src="{{blogpost.image.url}}" class="card-img-top" alt="..." style="height:150px;">
			  <div class="card-body">
			  	<h5>{{blogpost.titel}}</h5>
			    <span class="card-text" style="text-align:justify;font-size:12px;">{{blogpost.post|slice:":200"|safe}}</span>
			  </div><hr>
			  <div style="padding: 10px;font-size: 14px;padding-top: 0px;padding-bottom: 0px;margin-left: 23%;">
			  	{{blogpost.date}}
			  </div>
			</a>
			</div>
			
		{% endfor %}
    	</div>
    	<!--Contant blog end-->
		<script src="{% static 'js/./script.js' %}"></script>
{% endblock  %}