{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock  %}
{% block title %}Home{% endblock  %}
{% block body %}
    <div class="container d_blog" style="max-width:1324px;">
		{% for i in view_course %}
			<h1 class="d_blog_head">{{i.course_name}}</h1>
	        <video class="d_blog_img" controls>
            <source src="{{i.video.url}}" type="video/mp4">
            </video>
	        <p class="d_blog_body">{{i.course_body}}</p>
    	{% endfor %}
	</div>
    <script src="{% static 'js/./script.js' %}"></script>
{% endblock  %}